<div class="highlight">
    {{- highlight .Inner .Type "" | safeHTML -}}
    <button type="button" class="copy-code-button" aria-label="Copy code">
        <span class="icon" aria-hidden="true"><svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg></span>
        <span class="sr-only">Copy code</span>
    </button>
</div>
{{- with .Attributes.title -}}
<div class="code-block-title">{{ . }}</div>
{{- end -}}
