$color_1: #fff;
$color_2: #ffcb05;
$border_color_1: #ffcb05;
$background_color: #282a36;

.dark {
    a {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
    }
    a.summary-link {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
    }
    a:not(.btn) {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
    }
    button {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
    }
    .form-control {
        &:focus {
            border-color: $border_color_1;
        }
    }
    h3.article-title {
        a {
            &:hover {
                color: $color_2;
            }
        }
    }
    .modal-content {
        background: $background_color;
    }
}
h3.article-title {
    color: $color_1;
}

