$color_1: #fff;
$color_2: #ffcb05;
$border_color_1: #ffcb05;
$background_color: #282a36;

.dark {
    a {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
        &:visited {
            color: $color_1;
        }
    }
    a.summary-link {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
        &:visited {
            color: $color_1;
        }
    }
    a:not(.btn) {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
        &:visited {
            color: $color_1;
        }
    }
    button {
        color: $color_1;
        &:hover {
            color: $color_2;
        }
    }
    .form-control {
        &:focus {
            border-color: $border_color_1;
        }
    }
    h3.article-title {
        a {
            &:hover {
                color: $color_2;
            }
            &:visited {
                color: $color_1;
            }
        }
    }
    .modal-content {
        background: $background_color;
    }
    .navbar {
        .navbar-nav {
            .nav-link.active {
                color: $color_2 !important;
            }
        }
        .dropdown-item.active {
            color: $color_2 !important;
        }
        .dropdown-item-active {
            color: $color_2 !important;
        }
    }
}
h3.article-title {
    color: $color_1;
}

