{{- define "main" -}}
<div class="wrapper list-page">
    <header class="header">
        <h1 class="header-title center">Tags</h1>
    </header>
    <main class="page-content" aria-label="Content">
        <div class="tags-cloud">
            {{ range .Pages.ByTitle }}
            <a href="{{ .RelPermalink }}" class="tags-cloud-item">
                {{ .Title }}<span class="tag-count">({{ len .Pages }})</span>
            </a>
            {{ end }}
        </div>
    </main>
</div>
{{- end -}}
